{% extends 'todoapp/base.html' %}

{% block body %}
  <div class="container">
    {% if messages %}
        {% for message in messages %}
        <div class="card text-white bg-success mb-3">        
            <div class="card-header">
              Hola!!
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>{{ message }}</p>
                <footer class="blockquote-footer">Have a good day to you sir! </footer>
              </blockquote>
            </div>
        </div>
        <br>
        {% endfor %}
    {% endif %}
    

    <div class="jumbotron">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-success" value="submit">
        </form>
    </div>
    
    
  </div>
{% endblock %}